/*Header*/
.container-fluid{
    font-family: Azonix;
    font-size: 0.9rem;
}

/*Logo*/

.logo {
	max-height: 40px;
	width: auto;
	padding: .2rem;
}

/*Alinear a la derecha*/
.items-izquierda{
    display: flex;
    justify-content: flex-end;
}

/*Color de iconos*/

.bi-search{
    color: #B0E347;
}

.bi-person-circle{
    color: #B0E347;
}

.bi-cart{
    color: #B0E347;
}

.bi-heart{
    color: #B0E347;
}

/*Fuente*/


/*Body*/


/*Card*/
.container-cards{
    padding: 50px 30px;
}

.container-cards h1{
    font-family: Azonix;

}

/*Card fuente*/
.card-body h5{
    font-family: Azonix;
}

.card-body h4{
    font-family: Azonix;
}

/*Card iconos color*/
.bi-plus-square{
    color: green;
    font-size: 1.6rem;
}

.fa-playstation{
    color: #0070D1;
}

.fa-microsoft{
    color: #15AABF;
}

/*Card Posicionamiento*/
.card-plus{
    float: right;
}

.card-plataforma{
    padding: 5px;
    float: left;
}

.card-precio{
    margin: 15px;
    float: right;
}

/*Card animación*/
/* Shine */

figure {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}


.card figure {
	position: relative;
}
.card figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.card figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 120%;
	}
}



/*Color de iconos de carousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #B0E347;
}

/*Footer*/
.dentro-footer{
    margin: 0;
    padding: 0;
    background-color: black;
}

.links-sociales{
    display: flex;
}

.links-sociales ul{
    padding: 50px;
    display: flex;
    width: 300px;
    height: 30px;
    margin: auto;
}

.item-social{
    list-style: none;
}

.item-social a{
    padding: 10px 12px;
    font-size: 20px;
    color: #B0E347;
    transition: all .25s;
}

.item-social a:hover{
    color: #87af36;
}

.links-rapidos{
    display: flex;

}

.links-rapidos ul{
    display: flex;
    margin: auto;
}

.item-rapido{
    list-style: none;
}

.item-rapido a{
    text-decoration: none;
    padding: 0px 15px ;
    font-size: 14px;
    color: white; 
    transition: all .25s;
}

.item-rapido a:hover{
    color: #B0E347;
}

.otro-footer-2{
    padding: 10px;
    background-color: black;
}

.otro-footer{
    padding: 3px;
    text-align: center;
    color: black;
    font-size: 13px;
    background-color: #B0E347;
}


/*Body*/

.container-img{
    padding: 70px;
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
}

.container h1{
    font-family: Azonix;
    font-size: 1.9rem;
}

.container p{
    font-family: Altone;
    font-size: 1rem;
}



/* Emmanuel */

.fondo-prin{
    color: #d9d9d9;
}

.ti-home{
    text-align: center;
    color: #2c2c2c;
    font-size: 30px;
    padding-bottom: 5px;
}

.sti-home{
    text-align: start;
    color: #2c2c2c;
    font-size: 25px;
    padding-bottom: 10px; ;
    
}
.sti-home2{
    text-align: start;
    color: #2c2c2c;
    font-size: 25px;
    padding-bottom: 3px; ;
}

.txt-home{
    text-align: start;
    color: #2c2c2c;
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 1px;

}
.dropdown-divider-h{
    height: 0;
    margin: 0.5rem 0;
    overflow: auto;
    border-top: 7px solid #B0E347
}
.txt{
    text-align: start;
    font-size: 10px;
    color: #2c2c2c;

}
.img{
  padding: 0.25rem;
  background-color: #B0E347;
  border: 1px solid #B0E347;
  border-radius: 0.25rem;
  width: 160px;
  height: 200px;
}



